.container-fluid {
  line-height: 1;
  margin-top: 50px;
}
h4 {
  font-weight: bold;
}
input {
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  font-weight: bold;
}

.kalibratory-pozycje {
  width: 700px;
  min-height: 527px;
  max-height: 527px;
}
td {
  border: 1px solid rgb(180, 180, 180);
  line-height: 1;
}
input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 2px 2px 2px 2px;
  width: auto;
}

.table-wrapper {
  height: 528px;
  border: solid 1px rgb(180, 180, 180);
}
table {
  display: block;
  overflow-y: scroll;
  border-top: hidden;
  border-left: hidden;
  height: 526px;
}
thead {
  position: sticky;
  top: 0;
  border-top: hidden;
  border-left: hidden;
}
tbody tr {
  border-bottom: hidden;
  border-left: hidden;
}
